/* 1rem = 10px로 설정 */
html { 
    font-size: 62.5%;
    color: #4C4C4C;
    background-color: #f2ffec;
}

table {
    margin-top: 10rem;
    width: 50%;
    min-width: 110rem;
    border-radius: 3rem;
    background-color: #ffffff;
    height: 60rem;
    box-shadow: 2px 2px 10px #808080;

    /* 테이블 중앙으로 설정 */
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-left: 3rem;
    height: 5rem;
}

label {
    font-size: 2rem;
    font-weight: bold;
}

.reportTitle_td, .reportTitle_text_td {
    padding-top: 5rem;
}

.reason_select {
    color: #4C4C4C;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding-left: 1.5rem;
    width: 83%;
    height: 3rem;
}

.reportContent_td {
    display: flex;
    padding-top: 3em;
}

.reportTitle_text {
    border: none;
    outline: none;
    color: #4C4C4C;
    border-bottom: 1px solid #4C4C4C;
    width: 80%;
    padding-left: 1.5rem;
    font-size: 2rem;
}

.nickCheck_text {
    border-radius: 0.5rem;
    border: 1px solid #4C4C4C;
    outline: none;
    width: 67%;
    padding-left: 1.5rem;
    font-size: 2rem;
    margin-right: 1rem;
}

.nickCheck_Btn {
    outline: none;
    border: 1px solid #4C4C4C;
    color: #4C4C4C;
    background-color: #ffffff;
    width: 9rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.nickCheck_Btn:hover {
    background-color: #a4e79b;
}

.reason_td, .reportTitle_td, .nickCheck_td, .reportContent_td, .file_td {
    width: 20rem;
    text-align: left;
    padding-left: 7rem;
}

textarea {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    resize: none;       /* 사이즈 조절 제거 */
    border-radius: 1rem;
    outline: none;      /* 클릭시 테두리 선 제거 */
    line-height: 2.5rem; /* 텍스트 줄 간격 설정 */
    font-size: 2.5rem;  /* 글씨크기 */
	color: #4c4c4c;   /* 글씨색 */
    width: 82%;
    height: 25rem;      /* 높이 */
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.file_tr {
    padding-top: 15rem;
}

.btn_tr {
    text-align: right;
}

.btn_td {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-right: 10rem;
}

.cancel_btn {
    outline: none;
    border: 1px solid #4C4C4C;
    color: #4C4C4C;
    background-color: #ffffff;
    width: 13rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    margin-right: 1rem;
}

.cancel_btn:hover {
    background-color: #a4e79b;
}


.writing_btn {
    outline: none;
    border: 1px solid #4C4C4C;
    color: #4C4C4C;
    background-color: #ffffff;
    width: 13rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
}

.writing_btn:hover {
    background-color: #a4e79b;
}