html { font-size: 62.5%; }

/* 상품 디테일 전체 컨테이너 */
.product_detail_all_container {
    /* border: 1px solid black; */
    width: 50%;
    margin: auto;
}

/* 상품 디테일 유저 정보 컨테이너 */
.product_detail_user_info_container {
    /* border: 1px solid red; */
    margin : 5rem 0 5rem 0;
    width: 70%;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.user_info_area {
    margin: 0 1.5rem 0 1.5rem;
}

.user_nickname, .user_id {
    font-size: 3rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.user_nickname:hover {
    text-decoration: underline;
    font-weight: 600;
}

.user_score {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

.star {
	color : red;
}

hr {
    width: 70%;
}


/* 상품 정보 컨테이너 */
.product_detail_info_container {
    /* border: 1px solid orange; */
    width: 70%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}



/* 찜 & 조회수 카운트 컨테이너 */
.product_detail_wiah_and_view_cnt_container {
    display: flex;
}

/* 상품 정보 컨테이너 > 상품명 */
.product_detail_name {
    display: flex;
    font-size: 5rem;
    font-weight: 600;
    margin: 0 0 2rem 0;
}

/* 상품 정보 컨테이너 > 상품가격 */
.product_detail_price {
    font-size: 3rem;
    color: red;
    margin: 0 0 2rem 0;
}

/* 찜하기 이미지 영역 */
.wish_img_area {
    margin: 0 0 0 4rem;
}

/* 상품 정보 컨테이너 > 카테고리 */
.product_detail_category {
    font-size: 2rem;
    margin: 0 0 2rem 0;
}

/* 상품 정보 컨테이너 > 상품설명 */
.product_detail_info {
    border: 1px solid white;
    font-size: 1.5rem;
    width: 60%;
    min-height: 20rem;
    margin: 0 0 2rem 0;
}

/* 상품 정보 컨테이너 > 찜 */
/* .product_detail_wish_cnt {
    font-size: 1.5rem;
} */



/* 상품 정보 컨테이너 > 찜 & 조회수 컨테이너 */
.product_detail_wish_and_view_cnt_container {
    display: flex;
    font-size: 1.5rem;
}

/* 상품 정보 컨테이너 > 찜 & 조회수 카운트 div 부분 */
.product_detail_wish_cnt,  .product_detail_view_cnt {
    margin: 0 2rem 0 0;
}

/* 상품 정보 컨테이너 > 찜 & 조회수 카운트 span 부분 */
.cnt {
    margin: 0 1rem 0 1rem;
}

/* 상품 디테일 댓글 컨테이너 */
.product_detail_reply_container {
    width: 70%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
}

.prod_detail_del_btn,
.prod_detail_edit_btn,
.prod_detail_result_btn {
    margin: 0 1rem 0 1rem;
    font-size: 1.5rem;
}