html {
    font-size: 62.5%;
}


.wish_product_font_area {
    /* border: 1px solid blue; */
    width: 70%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15rem;
}

.wish_font {
    /* border: 1px solid red; */
    width: 80%;
	margin:0 auto;
    font-size: 3rem;
    font-weight: 700;
}


/* ��ǰ�� ���� �� �����̳� */

.empty_wish_product_container {
    /* border: 1px solid red; */
    width: 10%;
    margin: auto;
}

.empty_font {
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    font-size: 5rem;
}


/* ��ǰ ���� �� �����̳� */

.wish_product_container {
    display: flex;
    width: 70%;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
}


/* ��ǰ ����Ʈ �̹��� ũ�� */

.product_img {
    width: 20rem;
    height: 20rem;
    margin: 0 5rem 0 0;
}

/* ��ǰ ���� ���� */

.product_info_area {
    margin: 0 3rem 0 0;
}


/* ��ǰ �̸� ���� */

.wish_product_name_container {
    font-size: 4rem;
    font-weight: 600;
	margin: 1rem 0 1rem 0;
    /* margin: 0 3rem 0 0; */
}


/* ��ǰ ���� ���� */

.wish_product_price_container {
    /* border: 1px solid blue; */
    font-size: 3.5rem;
    margin: 1rem 0 1rem 0;
}


/* ��ǰ ���� ���� */

.wish_product_info_container {
    /* border: 1px solid navy; */
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}


/* ��ǰ ī�װ� ���� */

.wish_product_category_container {
    /* border: 1px solid brown; */
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}


/* ��ǰ �� �̹��� ���� */

.wish_product_img_area {
    /* border: 1px solid midnightblue; */
    display: flex;
    align-items: center;
    margin-right: 1rem;
}


/* �� ���� ���� */

.wish_product_count {
    /* border: 1px solid red; */
    margin: 0 0 0 2rem;
    font-size: 2.5rem;
	margin : 0 0 0 1rem;
}


/* a��ũ ���� */

.wish_product_list {
    text-decoration: none;
    color: black;
}


/* ��ǰ ��� ���� */

.wish_product_reply_container {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    
}


/* ��� �̹��� ���� */

.wish_product_reply_area {
    /* border: 1px solid saddlebrown; */
}

.wish_product_img_container{
	margin-bottom : auto;
	margin-left : auto;
	float: right;
	display: flex;
}

/* ��� ���� ���� */

.wish_product_reply_count {
    margin: 0 0 0 2rem;
    font-size: 2.5rem;
	margin : 0 0 0 1rem;
}

hr {
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}